body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

footer {
  text-align: center;
}

footer a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.WeatherApp {
  margin: 0 auto;
  margin-top: 10px;
  border: 5px solid rgb(38, 99, 212);
  border-radius: 10px;
  max-width: 600px;
}

.Weather h2 {
  font-weight: bold;
}

.search-engine {
  justify-content: center;
  margin-top: 20px;
}

.current-weather {
  margin-top: 30px;
  text-align: center;
}
