body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
}

.App {
  margin: 30px auto;
  max-width: 600px;
}

.Weather li {
  font-size: 16px;
  list-style-type: none;
}
