h1,
h2 {
  margin-top: 20px;
}

ul {
  list-style-type: none;
}

footer {
  text-align: center;
}

footer a {
  text-decoration: none;
}

.WeatherApp {
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  border: 5px solid rgb(38, 99, 212);
  border-radius: 10px;
  width: 800px;
  height: 400px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.SearchEngine {
  margin-top: 20px;
}

.SearchEngine .btn {
  margin-left: 10px;
}
